.pink-box{
  background-color: #FFFFC5;
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  border: lightcoral solid 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 20px;
    margin-right: 20px;
  }

  button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    height: 40px;
  }

}

.done-box{
  background-color: #282c34;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.input-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
  background-color: lightblue;
  padding: 50px;
  margin-bottom: 50px;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.progress-div {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 50px;
}
